

.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: white;
}

li{
    display: inline;
}

#div1{
    
    background-color: pink;
    height: 400px;
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#div2{
 display:flex;
    background-color: rgb(167, 66, 83);
    height: 200px;
    width: 200px;
   
}