body{
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
#Container{
    width:1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    /* flex-wrap: wrap; */
    /* align-items: center;  */
    /*
    align-content: flex-start; */
    
}

#box1{
    background-color: aqua;
    

}

#box2{
    background-color: rgb(25, 59, 59);
    height: 200px;
    /* align-self: flex-end; */
    /* flex-shrink: 1; */
    
}
#box3{
    background-color: purple;
    height: 175px;
    flex-grow: 1;
    
}
#box4{
    background-color: rgb(125, 125, 201);
    flex-grow: 2;
    
}
#box5{
    background-color: pink;
    /* align-self: flex-end; */
    
}