div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position:absolute;
    top: 70px;
    left:160px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
    transition :all 2s ease-in 1s;
    transform: rotate(45deg); */
   
}
@keyframes colorAni{
    from{background-color: aqua;}
    to{background-color: pink;}
}
div:hover{
    /* background-color: beige;
    color: purple; */
    /* font-size: 30px; */
    /* transform: scaleY(2);
    transform: rotate(180deg); 
    transform: translateY(-200px); drop
     transform: translateY(200px);
    transform: skew(180deg); */
}