div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position:absolute;
    top: 70px;
    left:160px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
    transition :all 2s ease-in 1s;
    transform: rotate(45deg); */

    /* Animation */
    /* animation-name: colorAni;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count:infinite ;
    animation-direction: reversev ; */
    animation: colorAni 2s linear 3s infinite normal;
   
}
@keyframes colorAni{
    /* from{background-color: aqua;}
    to{background-color: pink;} */
    /* from{
        left:0px;
        background-color: aqua;
        }
    to{
        left:300px;
        background-color: pink;
    } */

    0%{
        left:0px;
        background-color: aqua;
        }
    50%{
        background-color:green;
    }
    100%{
        left:300px;
        background-color: blue;
    }
}
div:hover{
    /* background-color: beige;
    color: purple; */
    /* font-size: 30px; */
    /* transform: scaleY(2);
    transform: rotate(180deg); 
    transform: translateY(-200px); drop
     transform: translateY(200px);
    transform: skew(180deg); */
}