/* h3 {

    color:green;
}
button{
    color:red;
    background-color: black;
}

body{
    background-color:#FFE0B5;
} */

*{
    color: red;
}
h1{
    color: black;
    text-align:center;
}

#heading1{
    color: green;
}

button{
    background-color: green;
}

/* p{
    text-align: center;
    text-decoration: blue dotted underline;
    font-family: 'Segoe UI';
} */

#one{
    font-size: 10px;
    line-height: normal;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}