*{
    padding: 0;
    padding:0;
    color: white;
}


body{
    background-color: rgb(30, 30, 83);
}


#simplediv{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

#navbar{
    border: 2px solid white;
    background-color: #0f1111;
    width: 100%;
    height: 60%
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 180px;
    text-decoration: none;
}

button{
    background-color: #f08804;
}

#outer{
    padding-top: 3%;
    height: 350px;
    width: 150px;
    background-color: white;
}

#b1{
    margin-bottom: 5%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
}
#b2{
    margin-bottom: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}
#b3{
    margin-bottom: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:orange;
}