 /* div{
    height: 50px;
    width:100px;
    background-color: aquamarine;
    border-width: 3x;
    border-style: dashed;
    border-color: aqua;
    text-align: center; 
    border:2px solid aqua;
     border-radius: 20px; 
    padding-left: 20px;
    padding-top: 10px; 
    padding:1px 2px 3px 4px; 
} 

h1{
    text-align: center;
    height: 50px;
    width:150px;
    background-color: pink;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(107, 39, 51);
    
} 

div{
    background-color: pink;
    display:inline;
}
button{
    background-color: red;
    display:block;
}
*/

#b1{
    background-color: pink;
    height: 100px;
    width: 100px;
    margin:25px;
    padding: 25px;
    display: inline-block;
}

#b2{
    background-color: red;
    height: 100px;
    width: 100px;
    margin:25px;
    padding: 25px;
    display: inline-block;
}

#b3{
    background-color: green;
    height: 100px;
    width: 100px;
    margin:25px;
    padding: 25px;
    display: inline-block;
}

#b4{
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin:25px;
    padding: 25px;
    display: none;
}